@model Admin_Users_IndexViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Table head</h4>
        <p class="card-title-desc">Use one of two modifier classes to make <code>&lt;thead&gt;</code>s appear light or dark gray.</p>

        <div class="table-responsive">
            <table class="table mb-0">

                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Phone number</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.Users.DataSource)
                    {
                        <tr>
                            <th scope="row">@(Model.Users.DataSource.IndexOf(record) + 1)</th>
                            <td>@record.Email</td>
                            <td>@record.Username</td>
                            <td>@record.PhoneNumber</td>
                            <td>@String.Join(',', record.Roles)</td>
                            <td style="align-content:center">
                                <button type="button" class="btn btn-warning w-md waves-effect waves-light" @*data-toggle="modal" data-target=".bs-example-modal-center"*@
                                        onclick="return openUserInforPopup('@record.Id');">
                                    Medium
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" id="user-infor-popup"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row mb-4">
                        <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">First name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="user-infor-name">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="user-infor-mail">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="horizontal-password-input" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="user-infor-phone-number">
                        </div>
                    </div>

                    <div class="form-group row justify-content-end">
                        <div class="col-sm-9">
                            <div class="custom-control custom-checkbox mb-4">
                                <input type="checkbox" class="custom-control-input" id="horizontal-customCheck">
                                <label class="custom-control-label" for="horizontal-customCheck">Remember me</label>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script>
        function openUserInforPopup(id) {
            $.ajax({
                type: 'GET',
                url: '/api/UserApi/get-user-infor-by-id?id=' + id,
                dataType: 'text',
                success: function (data) {
                    var userInfor = JSON.parse(data);
                    $('#user-infor-name').val(userInfor.UserName);
                    $('#user-infor-mail').val(userInfor.Email);
                    $('#user-infor-phone-number').val(userInfor.PhoneNumber);


                    $('#user-infor-popup').modal();
                    console.log(userInfor);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }
    </script>
}
